nand2tetris/
.DS_Store
01/*.cmp
01/*.tst
01/*.out

02/*.cmp
02/*.tst
02/*.out

03/*/*.cmp
03/*/*.tst
03/*/*.out

04/*/*.tst
04/*/*.cmp
04/*/*.hack
04/*/*.out

05/*.tst
05/*.cmp
05/*.hack
05/*.out

06/assembler/.idea
06/assembler/target

07/vm_translator/.idea
07/vm_translator/target
07/MemoryAccess
07/StackArithmetic

08/vm_translator/target
08/FunctionCalls
08/ProgramFlow

09/Average
09/BitmapEditor
09/Fraction
09/HelloWorld
09/List
09/OS
09/Square
09/*/*.vm

10/ArrayTest
10/ExpressionLessSquare
10/Square
10/jack_analyzer/target
10/jack_analyzer/testcase